<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        student模块所有bean的声明，Student模块的配置文件
    -->
    <bean id="mystudent" class="com.z1s1c1.ba06.Student" autowire="byType">
        <property name="name" value="张三"/>
        <property name="age" value="30"/>
    </bean>

</beans>