<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        school模块所有的bean声明，School模块的配置文件
    -->
    <bean id="School" class="com.z1s1c1.ba06.School">
        <property name="name" value="航空大学"/>
        <property name="address" value="北京市海淀区"/>
    </bean>
</beans>